<h1>Upload</h1>

<form method="post"> 
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="naam" placeholder="Naam kledingstuk" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="categorie" placeholder="Categorie" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="confirmation" name="image_path" placeholder="Image url path" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Upload</button>
</form>